.chi-siamo-container {

    .chi-siamo {
        width: 90%;
        margin: 0 auto;
        display: flex;
        padding-top: 140px;

        .testo {
            width: 55%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 30px;

            h2 {
                font-size: 2.3em;
                margin-bottom: 30px;
            }

            p {
                font-size: 1.2em;
            }
        }

        .immagine {
            width: 45%;
            border-radius: 50px;

            img {
                width: 100%;
                aspect-ratio: 1;
                transition: transform 0.5s ease;
            }

            img:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }
}

.chi-siamo2-container {
    padding-top: 100px;
    margin-bottom: 100px;

    .chi-siamo2 {
        width: 90%;
        margin: 0 auto;
        display: flex;

        .testo {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 30px;

            p {
                font-size: 1.2em;
                font-weight: 400;
            }
        }

        .immagine {
            width: 40%;
            border-radius: 50px;

            img {
                width: 100%;
                aspect-ratio: 1;
                transition: transform 0.5s ease;
            }

            img:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }
}

.chi-siamo3-container {
    background-color: var(--main-color);
    padding-bottom: 100px;

    .chi-siamo3 {
        width: 90%;
        margin: 0 auto;
        color: white;
        padding-right: 30px;

        h2 {
            font-size: 2.7em;
            padding-top: 30px;
        }

        h3 {
            font-size: 2em;
            margin-top: 40px;
            margin-bottom: 20px;
        }

        p {
            font-weight: 300;
            font-size: 1.2em;
        }

        .adotta {

            text-align: center;
            margin-top: 50px;

            a {
                text-decoration: inherit;
                padding: 5px 10px 8px 10px;
                border-radius: 10px;
                background-color: white;
                color: var(--main-color);
                font-size: 1.6em;
                font-weight: 500;
            }

            a:hover {
                color: darkgreen;
            }
        }

    }
}

/* imposto una larghezza massima dei contenitori per gestire monitor molto grandi */
.chi-siamo,
.chi-siamo2,
.chi-siamo3 {
    max-width: 1200px;
}

@media (max-width: 1024px) {
    .chi-siamo-container {

        .chi-siamo {
            display: block;

            .testo {
                width: 100%;
                padding-right: 0;
                margin-bottom: 50px;
            }

            .immagine {
                width: 80%;
                margin: 0 auto;
            }
        }
    }

    .chi-siamo2-container {

        .chi-siamo2 {
            display: block;

            .testo {
                width: 100%;
                padding-left: 0;
                margin-top: 60px;
            }

            .immagine {
                width: 80%;
                margin: 0 auto;
                margin-top: 50px;
            }
        }
    }
}

@media (max-width: 768px) {
    .chi-siamo-container {

        .chi-siamo {

            .testo {
                margin-bottom: 30px;
            }

            .immagine {
                width: 90%;
            }
        }
    }

    .chi-siamo2-container {
        padding-top: 30px;
        margin-bottom: 70px;

        .chi-siamo2 {

            .immagine {
                width: 90%;
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: 480px) {

    .chi-siamo-container,
    .chi-siamo2-container,
    .chi-siamo3-container {
        width: 100%;
    }

    .chi-siamo3-container {
        .chi-siamo3 .adotta a {
            font-size: 1.2em;
        }
    }
}