.carousel-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 120px;
    margin-bottom: 100px;

    .testo {
        width: 90%;
        margin: 0 auto;
        font-size: 1.1em;
        margin-top: 40px;

        .icona {
            color: black;
            font-size: 2em;
            margin-left: 50px;
            padding: 3px 7px 10px 7px;
            border: solid 2px transparent;
            -webkit-transition: 1.2s ease;
            transition: 1.2s ease;
        }

        .icona:hover {
            border-radius: 50%;
            border: solid black 2px;
        }
    }

    .carosello {
        display: flex;
        justify-content: center;
        align-items: center;

        .icona {
            margin: 0 auto;
            font-size: 3em;
            border: 1px solid black;
            border-radius: 50%;
            padding: 3px;
            transition: transform 0.8s ease;
        }

        .icona:hover {
            cursor: pointer;
        }

        .ruota-sx {
            transform: rotate(-90deg);
        }

        .ruota-sx:hover {
            transform: rotate(-90deg) scale(1.3);
        }

        .ruota-dx {
            transform: rotate(90deg);
        }

        .ruota-dx:hover {
            transform: rotate(90deg) scale(1.3);
        }

        .immagine {
            width: 50%;
            aspect-ratio: 1;
            margin: 0 auto;
        }
    }
}

.zoom-img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    animation: slowZoom 10s linear forwards;
}

@keyframes slowZoom {
    from {
        transform: scale(1);
        opacity: 0.75;
    }

    to {
        transform: scale(1.15);
        opacity: 1;
    }
}

@media (max-width: 1024px) {

    .carousel-container {
        display: block;

        .testo {
            margin-bottom: 50px;
        }

        .carosello {

            .icona {
                font-size: 2.5em;
            }

            .immagine {
                width: 70%;
            }
        }
    }
}

@media (max-width: 768px) {

    .carousel-container {
        width: 95%;

        .carosello {

            .icona {
                font-size: 2em;
            }

            .immagine {
                width: 80%;
            }
        }
    }
}

@media (max-width: 480px) {

    .carousel-container {

        .testo {
            width: 100%;

            .icona {
                margin-left: 30px;
            }
        }

        .carosello {

            .immagine {
                width: 70%;
            }
        }
    }
}