.intro-eventi {
    padding-top: 120px;
    padding-bottom: 50px;
    width: 50%;
    margin: 0 auto;
    text-align: center;

    h2 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.3em;
    }

}

.eventi-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    margin-bottom: 100px;
}

.flip-card {
    cursor: pointer;
    width: 40%;
    aspect-ratio: 1;
    /* height: 450px; */
    /* perspective definisce la distanza tra l’osservatore e l’elemento 3D */
    /* più è piccola, più l’effetto prospettico è forte */
    perspective: 1500px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    /* mantieni i figli nello spazio 3D, dice di non appiattire gli elementi figli ma lasciarli ruotare in profondità */
    transform-style: preserve-3d;
    /* cubic-bezier permette transizione più elegante */
    transition: transform 1.5s cubic-bezier(0.22, 1, 0.36, 1);
    /* cubic-bezier(x1, y1, x2, y2)
       x1 = quando parte
       y1 = forza iniziale
       x2 = quando frena
       y2 = come si ferma */
}

/* se sono in hover nel desktop*/
.flip-card:hover .flip-card-inner,
/* o se sono ho cliccato (classe flipped nel mobile*/
.flip-card.flipped .flip-card-inner {
    /* giro la card */
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
    /* Nascondo la faccia opposta dell’elemento 3D quando è girata */
    backface-visibility: hidden;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flip-card-back {
    /* Il retro parte girato al contrario */
    transform: rotateY(180deg);
    background: var(--main-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
}

.content {
    transform: translateZ(400px);
}

.flip-card-back h2 {
    font-size: 2.3em;
    font-weight: 600;
    margin-bottom: 30px;
}

.flip-card-back p {
    margin: 0;
    font-size: 1.3em;
    line-height: 1.6;
}

/* imposto una larghezza massima dei contenitori per gestire monitor molto grandi */

.eventi-container {
    max-width: 1200px;
}

.intro-eventi {
    max-width: 800px;
}


@media (max-width: 1024px) {

    .flip-card {
        width: 70%;
    }

    .intro-eventi {
        width: 70%;
    }
}

@media (max-width: 768px) {

    .intro-eventi {
        width: 85%;
    }

    .flip-card {
        width: 90%;
    }

    .flip-card-back {
        padding: 7px;
    }

    .flip-card-back h2 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    .flip-card-back p {
        font-size: 1.2em;
        line-height: 1.3;
    }
}

@media (max-width: 480px) {

    .intro-eventi {
        width: 90%;
    }

    .flip-card {
        width: 100%;
    }

    .flip-card-back {
        padding: 3px;
    }

    .flip-card-back h2 {
        font-size: 1.9em;
        margin-bottom: 10px;
    }

    .flip-card-back p {
        font-size: 1.2em;
        line-height: 1.2;
    }
}