header {
    background-color: var(--main-color);
    position: fixed;
    z-index: 99999;
    width: 100%;
}

.header-container {
    width: 90%;
    margin: 0 auto;
    height: 83px;
    display: flex;

    .logo {
        width: 25%;

        img {
            height: 75px;
        }
    }

    .icona {
        color: white;
    }

    .testa {
        margin-right: 30px;
        margin-bottom: 3px;
    }

    .pagine {
        width: 50%;
        display: flex;
        align-items: center;
    }

    .link-list {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .link {
        position: relative;
        color: rgb(255, 255, 255);
        font-weight: 500;
        text-decoration: inherit;
    }

    .link:after {
        /* necessario per after */
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: white;
        transition: width 0.5s ease;
        transform: translateX(-50%);
    }

    .link:hover::after {
        width: 100%;
    }

    .link.active {
        color: rgb(5, 5, 17);
    }

    .link.active::after {
        background-color: rgb(5, 5, 17);
        width: 100%;
    }

    .doppia-riga {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .burger {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 25%;

        a {
            margin-right: 10px;
        }

        .nav-link:hover {
            color: #080b4e;
        }

        .nav-link.active {
            color: rgb(5, 5, 17);
        }
    }

    #offcanvasMenu {
        width: 30%;
        padding-left: 30px;
        background-color: var(--main-color);

        .social {
            display: flex;
            gap: 10px;
        }
    }

    .menu-laterale {
        color: white;
        font-weight: 500;
        font-size: 1.3em;
    }
}

@media (max-width: 1250px) {

    .header-container {

        .logo {
            width: 20%;

            img {
                width: 82%;
            }
        }

        .pagine {
            width: 60%;
        }

        .burger {
            width: 20%;
        }
    }
}

@media (max-width: 1024px) {
    .header-container {

        .logo {
            width: 30%;
        }

        .pagine {
            width: 50%;
            visibility: hidden;

        }

        #offcanvasMenu {
            width: 35%;
        }
    }
}

@media (max-width: 768px) {
    .header-container {

        .logo {
            width: 35%;
        }

        .pagine {
            width: 35%;
        }

        .burger {
            width: 30%;
        }

        #offcanvasMenu {
            width: 50%;
        }
    }
}

@media (max-width: 480px) {
    .header-container {

        .logo {
            width: 45%;
        }

        .pagine {
            width: 15%;
        }

        .burger {
            width: 40%;
        }

        #offcanvasMenu {
            width: 70%;
        }
    }
}