header {
    position: fixed;
    z-index: 99999;
    width: 100%;
}

/* STATO 1: Inizio pagina - Trasparente */
.navbar-top {
    background-color: transparent;
    color: white;
    transform: translateY(-100px);
    animation: slideDownFade 1s ease-out forwards;
    /* Visibile */
}

/* STATO 2: Durante lo scroll nella Hero - Scompare */
.navbar-hidden {
    background-color: transparent;
    transform: translateY(0);
    animation: slideTopFade 1s ease-out forwards;
    pointer-events: none;
    /* Impedisce di cliccare i link mentre è nascosto */
}

/* STATO 3: Oltre la Hero - Riappare Verde */
.navbar-sticky {
    background-color: var(--main-color);
    color: white;
    transform: translateY(-100px);
    /* Entrano dall'alto */
    animation: slideDownFade 1s ease-out forwards;
    /* Torna giù visibile */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

@keyframes slideDownFade {
    to {
        transform: translateY(0);
    }
}

@keyframes slideTopFade {
    to {
        transform: translateY(-100%);
        /* Si sposta sopra, fuori dallo schermo */
    }
}

.header-container {
    width: 90%;
    margin: 0 auto;
    height: 83px;
    display: flex;

    .logo {
        width: 18%;

        img {
            height: 75px;
        }
    }

    .icona {
        color: white;
    }

    .pagine {
        width: 72%;
        display: flex;
        align-items: center;
    }

    .link-list {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .link {
        position: relative;
        color: rgb(255, 255, 255);
        font-weight: 500;
        text-decoration: inherit;
    }

    .link:after {
        /* necessario per after */
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: white;
        transition: width 0.5s ease;
        transform: translateX(-50%);
    }

    .link:hover::after {
        width: 100%;
    }

    /* .link.active {
        color: rgb(5, 5, 17);
    } */

    .link.active::after {
        /* background-color: rgb(5, 5, 17); */
        background-color: white;
        width: 100%;
    }

    .burger {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 10%;

        .icona {
            margin-right: 10px;
            padding: 5px 7px 8px;
            border: solid 1px transparent;
            -webkit-transition: 1.2s ease;
            transition: 1.2s ease;
        }

        .icona:hover {
            border-radius: 50%;
            border: solid 1px;
        }

        .icona-burger {
            padding-left: 11px;
            padding-right: 11px;
        }
    }

    #offcanvasMenu {
        position: fixed !important;
        top: 0;
        bottom: 0;
        height: 100vh !important;
        z-index: 99999 !important;
        width: 30%;
        padding-left: 30px;
        background-color: var(--main-color);

        .social {
            display: flex;
            gap: 10px;
        }
    }

    .menu-laterale {
        color: white;
        font-weight: 500;
        font-size: 1.3em;
    }
}

@media (max-width: 1250px) {

    .header-container {

        .logo {
            width: 20%;

            img {
                width: 82%;
            }
        }

        .pagine {
            width: 60%;
        }

        .burger {
            width: 20%;
        }
    }
}

@media (max-width: 1024px) {
    .header-container {

        .logo {
            width: 30%;
        }

        .pagine {
            width: 50%;
            visibility: hidden;

        }

        .burger {
            width: 35%;
        }

        #offcanvasMenu {
            width: 35%;
        }
    }
}

@media (max-width: 768px) {
    .header-container {

        .logo {
            width: 35%;
        }

        .pagine {
            width: 0;
        }

        .burger {
            width: 65%;

            .testa {
                margin-right: 15px;
            }

            .icona {
                margin-right: 0;
            }
        }

        #offcanvasMenu {
            width: 50%;
        }
    }
}

@media (max-width: 480px) {
    .header-container {

        .logo {
            width: 50%;
        }


        .burger {
            width: 50%;

            .testa {
                margin-right: 5px;
            }
        }

        #offcanvasMenu {
            width: 70%;
        }
    }
}