/* --- 1. CONTENITORE PRINCIPALE (HERO) --- */
.hero-container {
    position: relative;
    width: 100%;
    /* Altezza dinamica: 80% su PC, 100% su Mobile */
    height: 120vh;
    overflow: hidden;
    /* Fondamentale: impedisce allo zoom di "uscire" dal sito */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    /* Sfondo di sicurezza mentre carica l'immagine */
}

/* --- 2. L'IMMAGINE E L'ANIMAZIONE --- */
.hero-image-animated {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 0;
    /* Animazione: Nome | Durata | Curva (rallenta alla fine) | Blocca alla fine */
    animation: slowZoomAndStop 5s ease-out 1.5s forwards;
    /* RITARDO: l'animazione partirà dopo 1.5 secondi dal caricamento */
}

/* Definizione del movimento */
@keyframes slowZoomAndStop {
    from {
        transform: scale(1);
        opacity: 0.01;
        /* Parte un po' più scura */
    }

    to {
        transform: scale(1.2);
        /* Zoom del 10% */
        opacity: 1;
        /* Diventa nitida */
    }
}

/* --- 4. CONTENUTO TESTUALE --- */
.hero-content {
    position: relative;
    z-index: 3;
    /* Sopra l'immagine e l'overlay */
    color: #ffffff;
    text-align: center;

    h1,
    h2 {
        font-size: 3em;
        font-weight: 500;
        font-family: "PawWow", sans-serif;
    }

    h2 {
        margin-bottom: 150px;
    }
}


/* --- 3. OVERLAY (Per rendere il testo leggibile) --- */
.hero-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Gradiente scuro per far risaltare il testo bianco */
    z-index: 2;
}

.home-container {
    width: 90%;
    margin: auto;
    padding-top: 160px;
    height: 300px;
    text-align: center;
    margin-bottom: 300px;

    .totale {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: var(--main-color);
        font-size: 1.7em;
        font-weight: 600;

        .numero {
            font-size: 3em;
            font-weight: 800;
        }
    }
}

.descrizione-container {
    background-color: var(--main-color);
    text-align: center;
}

.descrizione {
    width: 90%;
    margin: 0 auto;
    display: flex;

    .testo {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        padding-right: 30px;

        h3 {
            font-size: 3em;
            margin-bottom: 20px;
        }

        p {
            font-weight: 300;
            font-size: 1.2em;
        }
    }

    .immagine {
        width: 50%;

        img {
            width: 100%;
            padding: 50px 10px;
            transition: transform 0.5s ease;
        }

        img:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }

    a {
        margin: 0 auto;
        width: 30%;
        text-decoration: inherit;
        padding: 10px;
        border-radius: 10px;
        background-color: white;
        color: var(--main-color);
        font-weight: 600;
        font-size: 1.2em;
    }

    a:hover {
        color: darkgreen;
    }

}

.sostienici-container {
    background-color: white;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 60px;
}

.sostienici {
    width: 90%;
    margin: 0 auto;
    display: flex;

    .testo {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: black;
        padding-right: 30px;

        h2 {
            font-size: 2em;
            margin-bottom: 30px;
        }

        p {
            font-weight: 400;
            font-size: 1.2em;
        }
    }

    .immagine {
        width: 50%;

        img {
            width: 100%;
            aspect-ratio: 1;
            border-radius: 50%;
            padding: 50px;
            transition: transform 1s ease;
        }

        img:hover {
            transform: scale(1.1);
            transform: rotate(-90deg);
            cursor: pointer;
        }
    }

}

.aiutaci-container {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 100px;

    .aiutaci {
        width: 90%;
        margin: 0 auto;
        display: flex;

        .testo {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: black;
            padding-left: 30px;

            h3 {
                font-size: 3em;
                margin-bottom: 20px;
                color: darkgreen;
            }

            p {
                font-size: 1.2em;
                font-weight: 400;
            }
        }

        .immagine {
            width: 40%;
            border-radius: 30px;
            overflow: hidden;

            img {
                width: 100%;
                aspect-ratio: 1;
                transition: transform 0.5s ease;
            }

            img:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }

        a {
            margin: 0 auto;
            width: 30%;
            text-decoration: inherit;
            padding: 10px;
            border-radius: 10px;
            background-color: var(--main-color);
            color: white;
            font-weight: 600;
            font-size: 1.2em;
        }

        a:hover {
            background-color: darkgreen;
        }

    }
}

.img-volontari {
    aspect-ratio: 1;
}

.mappa {
    width: 100%;
    height: 350px;
    border-radius: 12px;
    overflow: hidden;
}

.mappa iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* imposto una larghezza massima dei contenitori per gestire monitor molto grandi */
.home-container,
.descrizione,
.sostienici,
.aiutaci {
    max-width: 1200px;
}


/* Sezione responsive */
@media (max-width: 1024px) {

    .home-container {
        margin-bottom: 350px;
    }

    .descrizione-container {

        .descrizione {
            display: block;

            .testo {
                width: 100%;
                padding-right: 0;

                .bottone {
                    width: 150px;
                }
            }

            .immagine {
                width: 80%;
                margin: 0 auto;
            }
        }
    }

    .aiutaci-container {
        padding-top: 100px;
        margin-bottom: 100px;

        .aiutaci {
            display: block;

            .testo {
                width: 100%;
                padding-left: 0;

                .bottone {
                    width: 150px;
                }
            }

            .immagine {
                width: 80%;
                margin: 0 auto;
                margin-bottom: 70px;
            }
        }
    }

    .bottone {
        width: 150px;
    }
}


@media (max-width: 768px) {
    .home-container {
        margin-bottom: 450px;
    }

    .descrizione-container {

        .descrizione {

            .immagine {
                width: 90%;
            }
        }
    }

    .aiutaci-container {

        .aiutaci {

            .immagine {
                width: 90%;
            }
        }
    }
}

@media (max-width: 480px) {
    .home-container {
        margin-bottom: 550px;

        .totale {
            width: 80%;

        }
    }

    .descrizione-container {

        .descrizione {

            .immagine {
                width: 100%;
            }
        }
    }

    .aiutaci-container {

        .aiutaci {

            .immagine {
                width: 100%;
            }
        }
    }
}