.info {
    padding-top: 100px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 100px;

    h2 {
        text-align: center;
        font-size: 3em;
        font-family: "PawWow", sans-serif;
    }

    .indietro {
        font-size: 3em;
        color: black;
    }

    .evidenza {
        display: flex;

        .immagine {
            width: 40%;

            img {
                width: 100%;
                aspect-ratio: 1;
                border-radius: 30px;
            }
        }

        .testo {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 30px;
            font-size: 1.2em;

            .icona {
                font-size: 1.7em;
                margin-right: 10px;
            }

            .maschio {
                color: #3036ac;
            }

            .femmina {
                color: rgb(221, 61, 88);
            }
        }
    }
}