.sostienici-container {
    background-color: white;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 60px;
}

.sostienici {
    width: 90%;
    margin: 0 auto;
    display: flex;

    .testo {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: black;
        padding-right: 30px;

        h2 {
            font-size: 2em;
            margin-bottom: 30px;
        }

        p {
            font-weight: 400;
            font-size: 1.2em;
        }
    }

    .immagine {
        width: 50%;

        img {
            width: 100%;
            aspect-ratio: 1;
            border-radius: 50%;
            padding: 50px;
            transition: transform 1s ease;
        }

        img:hover {
            transform: scale(1.1);
            transform: rotate(-90deg);
            cursor: pointer;
        }
    }

}

.tessera-container {
    text-align: center;
    background-color: var(--main-color);

    .tessera {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: start;

        .testo {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            color: white;
            padding-left: 30px;

            h2 {
                font-size: 2.5em;
                margin-bottom: 10px;
            }

            h5 {
                margin-bottom: 20px;
            }

            p {
                font-size: 1.2em;
                font-weight: 600;
            }
        }

        .immagine {
            width: 40%;
            overflow: hidden;
            aspect-ratio: 1;

            img {
                width: 100%;
                height: 100%;
                /* occuperà tutto il contenitore */
                object-fit: contain;
                transition: transform 0.5s ease;
            }

            img:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }
}

.radio-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;

    input {
        margin-right: 10px;
        cursor: pointer;
        transform: scale(1.5);
        accent-color: var(--second-color);
    }
}

.arrow {
    margin: 0 10px;
    font-size: 5rem;
}

.seleziona {
    margin-top: 100px;
    animation: suEGiu 2s ease-in-out infinite;
}

.iban-title {
    font-size: 1.5em;
}

.causale {
    font-size: 1.2em;
    font-weight: 600;
}

/* Animazione delle frecce seleziona opzione*/

@keyframes suEGiu {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

/* messaggio iban copiato */

.iban {
    display: block;
    margin-bottom: 10px;
}

.iban-text {
    cursor: pointer;
    user-select: all;
    margin: 0;
    font-weight: bold;
    border: 1px dashed #ccc;
    padding: 5px;
}

.copiato-msg {
    display: block;
    color: green;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin-top: 4px;
}

.copiato-msg.show {
    opacity: 1;
}

/* adozioni a distanza */
.distanza-container {
    background-color: white;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
}

.distanza {
    width: 90%;
    margin: 0 auto;
    display: flex;

    .testo {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: black;
        padding-right: 30px;

        h2 {
            font-size: 3em;
            margin-bottom: 30px;
        }

        p {
            font-weight: 400;
            font-size: 1.2em;
        }

        a {
            color: black;
            text-decoration: inherit;
            border: 1px dashed black;
            padding: 5px;
        }

        .whatsapp {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

    }

    .immagine {
        width: 50%;

        img {
            width: 100%;
            aspect-ratio: 1;
            padding: 50px;
            transition: transform 1s ease;
        }

        img:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }

}

.cinque-x-mille-container {
    text-align: center;
    background-color: var(--main-color);

    .cinque-x-mille {
        width: 90%;
        margin: 0 auto;
        display: flex;

        .testo {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;
            padding-left: 30px;

            ul {
                text-align: left;

                li {
                    font-size: 1.2em;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
            }

            span {
                font-size: 1.2em;
                font-weight: 600;
            }

            h2 {
                font-size: 2.7em;
                margin-bottom: 20px;
            }

            h3 {
                font-size: 3em;
                margin-bottom: 20px;
                color: darkgreen;
            }

            p {
                font-size: 1.2em;
                font-weight: 600;
            }
        }

        .immagine {
            width: 40%;
            overflow: hidden;

            img {
                width: 100%;
                aspect-ratio: 1;
                object-fit: contain;
                transition: transform 0.5s ease;
            }

            img:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }
}

/* Copia codice fiscale */
.codice-fiscale {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;

    .codice-text {
        cursor: pointer;
        user-select: all;
        margin: 0;
        font-weight: bold;
        border: 1px dashed #ccc;
        padding: 0 50px;
    }
}

/* Fine Copia codice fiscale */

.esselunga-container {
    background-color: white;
    text-align: center;
    margin-bottom: 80px;
}

.esselunga {
    width: 90%;
    margin: 0 auto;
    display: flex;

    .testo {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: black;
        padding-right: 30px;

        h2 {
            font-size: 3em;
            margin-bottom: 30px;
        }

        p {
            font-weight: 400;
            font-size: 1.2em;
        }

        a {
            color: black;
            text-decoration: inherit;
            border: 1px dashed black;
            padding: 5px;
        }

    }

    .immagine {
        width: 50%;

        img {
            width: 100%;
            aspect-ratio: 1;
            border-radius: 75px;
            padding: 50px;
            transition: transform 1s ease;
        }

        img:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }

}

.dona-container {
    text-align: center;
    padding-bottom: 100px;
    background-color: var(--main-color);

    .dona {
        width: 90%;
        margin: 0 auto;
        display: flex;

        .testo {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;
            padding-left: 30px;

            ul {
                text-align: left;

                li {
                    font-size: 1.2em;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
            }

            .diventa {
                display: block;
                margin-bottom: 15px;
            }

            h2 {
                font-size: 2.7em;
                margin-bottom: 20px;
            }

            h3 {
                font-size: 3em;
                margin-bottom: 20px;
                color: darkgreen;
            }

            p {
                font-size: 1.2em;
                font-weight: 600;
            }

            a {
                margin: 0 auto;
                width: 30%;
                text-decoration: inherit;
                padding: 8px 10px;
                border-radius: 10px;
                background-color: white;
                color: var(--main-color);
                font-weight: 500;
            }

            a:hover {
                color: darkgreen;
            }
        }

        .immagine {
            width: 40%;
            overflow: hidden;

            img {
                width: 100%;
                aspect-ratio: 1;
                object-fit: contain;
                transition: transform 0.5s ease;
            }

            img:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }
}

.whatsapp-button {

    width: 60px;
    height: 60px;

    background-color: var(--main-color);
    color: white;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}

.whatsapp-button:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

/* Sezione responsive */

@media (max-width: 1150px) {
    .sostienici-container {
        padding-top: 130px;
    }

}

@media (max-width: 1024px) {
    .sostienici-container {
        margin-bottom: 30px;
    }

    .sostienici {
        display: block;

        .testo {
            width: 100%;
            padding-right: 0;
        }

        .immagine {
            width: 80%;
            margin: 0 auto;
        }

    }

    .tessera-container {

        .tessera {
            width: 90%;
            display: block;

            .testo {
                width: 100%;
                padding-left: 0;
            }

            .immagine {
                width: 80%;
                margin: 0 auto;
            }
        }
    }

    .distanza-container {
        margin-top: 90px;
        margin-bottom: 70px;
    }

    .distanza {
        display: block;

        .testo {
            width: 100%;
            padding-right: 0;
        }

        .immagine {
            width: 80%;
            margin: 0 auto;
        }

    }

    .cinque-x-mille-container {

        .cinque-x-mille {
            display: block;

            .testo {
                width: 100%;
                padding-left: 0;
            }

            .immagine {
                width: 80%;
                margin: 0 auto;
            }
        }
    }

    .esselunga-container {
        margin-bottom: 80px;
    }

    .esselunga {
        display: block;

        .testo {
            width: 100%;
            padding-right: 0;
            margin-top: 50px;
        }

        .immagine {
            width: 80%;
            margin: 0 auto;
        }

    }

    .dona-container {
        padding-bottom: 100px;

        .dona {
            display: block;

            .testo {
                width: 100%;
                padding-left: 0;
            }

            .immagine {
                width: 80%;
                margin: 0 auto;
            }
        }
    }

}

@media (max-width: 768px) {
    .sostienici {

        .immagine {
            width: 90%;
        }

    }

    .radio-container {
        flex-wrap: wrap;

        label {
            width: 50%;
            margin-bottom: 20px;
        }
    }

    .distanza-container {
        margin-top: 70px;
        margin-bottom: 50px;
    }

    .distanza {

        .immagine {
            width: 90%;
        }
    }

    .cinque-x-mille-container {

        .cinque-x-mille {

            .immagine {
                width: 90%;
            }
        }
    }


    .esselunga .immagine {
        width: 90%;

        img {
            padding: 0;
            border-radius: 30px;
        }
    }



    .dona-container {
        .dona {
            .immagine {
                width: 90%;
            }
        }

    }
}

@media (max-width: 480px) {
    .sostienici {

        .immagine {
            width: 100%;
        }

    }

    .distanza-container {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .distanza {

        .immagine {
            width: 100%;
        }

    }

    .cinque-x-mille-container {

        .cinque-x-mille {

            .immagine {
                width: 100%;
            }
        }
    }

    .esselunga-container {
        .esselunga {
            .immagine {
                width: 100%;
            }
        }
    }



    .dona-container {
        .dona {
            .immagine {
                width: 100%;
            }
        }

    }
}